
.bg-blue {
    background-color: #03a9f5;
}
.child {
    width: 100%;
}
.hero {
    width: 1000px;
    background-image: url('../images/background-2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.container {
    width: 600px;
    height: 100vh;
    margin-left: calc( (50% - 300px) );
    text-align: center;
    padding: 20px 0px;
}
.container img {
    height: 105px;
    padding: 35px;
}
.container h1 {
    font-size: 50px;
    text-transform: uppercase;
}

.p1 {
   padding: 12px 0;
   font-size: 18px;
   color: #a9b3bf;
}
.clock {
    padding: 50px 0px;
    line-height: 50px;
}
.container input {
width: 90%;
line-height: 30px;
border:none;
border-bottom: 2px solid white;
background: none;
}
::placeholder {
    color: white; 
  }

.container button {
   padding: 8px 20px;
   margin: 30px 0px 0px;
   color:white;
   background-color: #ea1e63;
   border: none;
   text-transform: capitalize;
   font-size: 15px;
}


.mousy {
    
}

.section {
    background-color: darkgreen;
    width: 1000px;
}

.left {
    background-color: lightgreen;
    width:50%;
    float:left;
}

.right {
    background-color: darkolivegreen;
    width: 40%;
    float:right;
    padding:30px 0px;
}

footer {
    width:100%;
}
.footer-texts{
    width:1000px;
}
.socials {
    width: 1000px;
}
.matrixlg {
 
}
.links {
    width: 600px;
    margin-left: calc( (50% - 300px) );
}

    /* .container {
     with:100%
    
    } visoms sections priskiriame*/



/* rikiuojame klases pagal hierarchiją */
/* bendrines klases rašyti viršuje, kad neoveridintų specifinių elementų */

/* container{
width:1000px
padding: 60px 0
} */



/* .bghero {
    tam, kad klasė neoveridintų

width:600px 

html klasės turi būti rašomos istoriniu eilišku

Nuotrauka bg naudojama visa

*/ 