.hero {
    width: 1000px;
    float: left;
    background-color: aquamarine ;
}
    /* .container {
     with:100%
    
    } visoms sections priskiriame*/

/* .bg-blue{
    background-color: #03a9f5;
} kadangi pritaikome 2 sections, vienetinė, todėl galima rašyti į patį galą */ 

/* rikiuojame klases pagal hierarchiją */
/* bendrines klases rašyti viršuje, kad neoveridintų specifinių elementų */

/* container{
width:1000px
padding: 60px 0
} */

/* left{
    50%
}

.right{
    40%
}

.bghero {
    tam, kad klasė neoveridintų

width:600px 

html klasės turi būti rašomos istoriniu eilišku

Nuotrauka bg naudojama visa

*/



.

    .container img {

    }
    .container h1 {

    }
    .container p {

    }
    .clock {

    }
    .subscribe {

    }
    .subscribe input {

    }
    .subscribe button {

    }
.section {
    background-color: darkkhaki;
    }
    .left {

        }
        .left h2 {

        }
        .left p {
            
        }
    .right {
        
        }
        .right h2 {

        }
        .right p {

        }
        .right form {

            }
            .right input {

            }
            .right button {
                
            }
footer {

}
    .socials {

        }
        .socials img {

        }
        .links {

        }
        .link p {

        }