.hero {
    width: 1000px;
    float: left;
    background-color: aquamarine ;
}
    .container {
        
    }
    .container img {

    }
    .container h1 {

    }
    .container p {

    }
    .clock {

    }
    .subscribe {

    }
    .subscribe input {

    }
    .subscribe button {

    }
.section {

    }
    .left {

        }
        .left h2 {

        }
        .left p {
            
        }
    .right {
        
        }
        .right h2 {

        }
        .right p {

        }
        .right form {

            }
            .right input {

            }
            .right button {
                
            }
footer {

}
    .icons {

        }
        .icons img {

        }
        .links {

        }
        .link p {

        }